body {
    background-color: rgb(23, 23, 100);
    color: white;
}

#app{
    height: 100vh;
}
form{
    height: 20vh;

}
ul{
    list-style: none;
    padding: 0;
    height: 80vh;
    overflow-y: auto;
}

li{
    border-bottom: 1px solid grey;
}

.completed div{
    text-decoration: line-through;
}  